button.mat-secondary {
  --mdc-text-button-label-text-color: #645b70;
  --mdc-text-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-protected-button-container-color: #fffbff;
  --mdc-protected-button-label-text-color: #645b70;
  --mdc-protected-button-disabled-container-color: rgba(29, 27, 30, 0.12);
  --mdc-protected-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-protected-button-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-disabled-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-focus-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-hover-container-elevation-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-pressed-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-container-shadow-color: #000000;
  --mdc-filled-button-container-color: #645b70;
  --mdc-filled-button-label-text-color: #ffffff;
  --mdc-filled-button-disabled-container-color: rgba(29, 27, 30, 0.12);
  --mdc-filled-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-outlined-button-disabled-outline-color: rgba(29, 27, 30, 0.12);
  --mdc-outlined-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-outlined-button-label-text-color: #645b70;
  --mdc-outlined-button-outline-color: #7b757f;
  --mat-text-button-state-layer-color: #645b70;
  --mat-text-button-disabled-state-layer-color: #49454e;
  --mat-text-button-ripple-color: rgba(100, 91, 112, 0.12);
  --mat-text-button-hover-state-layer-opacity: 0.08;
  --mat-text-button-focus-state-layer-opacity: 0.12;
  --mat-text-button-pressed-state-layer-opacity: 0.12;
  --mat-protected-button-state-layer-color: #645b70;
  --mat-protected-button-disabled-state-layer-color: #49454e;
  --mat-protected-button-ripple-color: rgba(100, 91, 112, 0.12);
  --mat-protected-button-hover-state-layer-opacity: 0.08;
  --mat-protected-button-focus-state-layer-opacity: 0.12;
  --mat-protected-button-pressed-state-layer-opacity: 0.12;
  --mat-filled-button-state-layer-color: #ffffff;
  --mat-filled-button-disabled-state-layer-color: #49454e;
  --mat-filled-button-ripple-color: rgba(255, 255, 255, 0.12);
  --mat-filled-button-hover-state-layer-opacity: 0.08;
  --mat-filled-button-focus-state-layer-opacity: 0.12;
  --mat-filled-button-pressed-state-layer-opacity: 0.12;
  --mat-outlined-button-state-layer-color: #645b70;
  --mat-outlined-button-disabled-state-layer-color: #49454e;
  --mat-outlined-button-ripple-color: rgba(100, 91, 112, 0.12);
  --mat-outlined-button-hover-state-layer-opacity: 0.08;
  --mat-outlined-button-focus-state-layer-opacity: 0.12;
  --mat-outlined-button-pressed-state-layer-opacity: 0.12;
}

button.mat-tertiary {
  --mdc-text-button-label-text-color: #7d00fa;
  --mdc-text-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-protected-button-container-color: #fffbff;
  --mdc-protected-button-label-text-color: #7d00fa;
  --mdc-protected-button-disabled-container-color: rgba(29, 27, 30, 0.12);
  --mdc-protected-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-protected-button-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-disabled-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-focus-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-hover-container-elevation-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-pressed-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-container-shadow-color: #000000;
  --mdc-filled-button-container-color: #7d00fa;
  --mdc-filled-button-label-text-color: #ffffff;
  --mdc-filled-button-disabled-container-color: rgba(29, 27, 30, 0.12);
  --mdc-filled-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-outlined-button-disabled-outline-color: rgba(29, 27, 30, 0.12);
  --mdc-outlined-button-disabled-label-text-color: rgba(29, 27, 30, 0.38);
  --mdc-outlined-button-label-text-color: #7d00fa;
  --mdc-outlined-button-outline-color: #7b757f;
  --mat-text-button-state-layer-color: #7d00fa;
  --mat-text-button-disabled-state-layer-color: #49454e;
  --mat-text-button-ripple-color: rgba(125, 0, 250, 0.12);
  --mat-text-button-hover-state-layer-opacity: 0.08;
  --mat-text-button-focus-state-layer-opacity: 0.12;
  --mat-text-button-pressed-state-layer-opacity: 0.12;
  --mat-protected-button-state-layer-color: #7d00fa;
  --mat-protected-button-disabled-state-layer-color: #49454e;
  --mat-protected-button-ripple-color: rgba(125, 0, 250, 0.12);
  --mat-protected-button-hover-state-layer-opacity: 0.08;
  --mat-protected-button-focus-state-layer-opacity: 0.12;
  --mat-protected-button-pressed-state-layer-opacity: 0.12;
  --mat-filled-button-state-layer-color: #ffffff;
  --mat-filled-button-disabled-state-layer-color: #49454e;
  --mat-filled-button-ripple-color: rgba(255, 255, 255, 0.12);
  --mat-filled-button-hover-state-layer-opacity: 0.08;
  --mat-filled-button-focus-state-layer-opacity: 0.12;
  --mat-filled-button-pressed-state-layer-opacity: 0.12;
  --mat-outlined-button-state-layer-color: #7d00fa;
  --mat-outlined-button-disabled-state-layer-color: #49454e;
  --mat-outlined-button-ripple-color: rgba(125, 0, 250, 0.12);
  --mat-outlined-button-hover-state-layer-opacity: 0.08;
  --mat-outlined-button-focus-state-layer-opacity: 0.12;
  --mat-outlined-button-pressed-state-layer-opacity: 0.12;
}

/*# sourceMappingURL=buttons.css.map */
