@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');


mat-icon, .mat-icon, mat-icon.mat-icon {
  display: flex;
  place-items: center;
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}