<a class="app-name" redirectLink><h1>Studyum</h1></a>

@if (user(); as user) {
  @if (enrollments$ | async; as enrollments) {
    <div class="spacer"></div>
    <fbm-select
      class="enrollment-select form-field-mat-density-3"
      [formControl]="currentEnrollment"
      [items]="enrollments"
      [next]="enrollmentsNext"
      [reload]="enrollmentsReload"
      [searchable]="false"
    />
  }
  <div class="spacer"></div>
} @else {
  <div class="spacer"></div>
}

<div class="actions">
  @if (user(); as user) {
    <button mat-flat-button color="danger" (click)="logout()">
      {{ 'header_logout' | translation }}
    </button>
  } @else {
    <a redirectLink="auth" url="login">
      <button mat-flat-button color="secondary mat-density1">
        {{ 'header_login' | translation }}
      </button>
    </a>
    <a redirectLink="auth" url="signup">
      <button mat-flat-button color="primary">
        {{ 'header_signup' | translation }}
      </button>
    </a>
  }
</div>

<fbm-select
  class="language-select form-field-mat-density-3"
  [formControl]="currentLanguage"
  [items]="languages"
  [searchable]="false"
/>